# Report Corrected

```json
{
  "eventType": "report_corrected",
  "eventDetails": "",
  "requisitionIdentifier": "req-001",
  "sampleIdentifier": "sample-001",
  "patientMRN": "0010015000",
  "sampleGroup": "default",
  "sampleLabel": "sample-label",
  "providerAccountName": "Provider Account Name",
  "providerAccountNumber": "99952255",
  "physicianNPI": "0000000000",
  "reportResult": " 'Detected' | 'Not detected' | 'Inconclusive' ",
  "reportResultDetails": {
    "company_name": "Company XXYY",
    "physician": "Physician Name",
    "panel_name": "panel_name",
    "panel_code": "panel-001"
    ...
  },
  "reportType": "default",
  "reportDate": "2020-01-01",
  "reportDownloadLink": "https://link_to_download_pdf"
}
```


**Parameters**

| Name | Type | Description |
| ---- | ---- | ----------- |
| eventType | integer | Filters workflow definitions by organization. |
| eventDetails | string | Details | related to the action performed |
| requisitionIdentifier | string | Requisition identifier |
| sampleIdentifier | string | Sample identifier |
| patientMRN | string | Patient medical record number |
| sampleGroup | string | Sample group name |
| sampleLabel | string | Sample Label description |
| providerAccountName | string | Provider account name |
| providerAccountNumber | string | Provider account number |
| physicianNPI | string | The Physician NPI identifier |
| reportResult | string | The report result |
| reportResultDetails | object | Contains detailed information about the report result<br><ul><li>Detected or Positive</li><li>Not Detected or Negative</li><li>Inconclusive</li><li>Invalid</li></ul> |
| reportType | string | Report type |
| reportDate | string | Report date |
| reportDownloadLink | string | The link to download the report file<br>(A GET call to this link with the same Bearer Token header used in the V3 API calls will allow this report to be downloaded) |
| signedBy | array | Contains an array of records for each person who signed the report.<br>Each record will include:<br><ul><li>name</li><li>email</li><li>signedDateTime</li></ul> |
