# Webhook Endpoint Events
## Get Webhook Endpoint Events

**Summary:** Get All Webhook Endpoint Events

### HTTP Request 
`GET /v3/organizations/{organization_id}/webhook_endpoint_events` 

```json
{
  "webhook_endpoints": [{
    "id": 1,
    "target_url": "https://test.api.com",
    "event": "report_signed",
    "username": "user",
    "project_requisition_template_association_id": 5
  }],
  "webhook_endpoint_events": [{
    "id": 111,
    "status": "send-failed",
    "eventType": "report_signed",
    "lastSentAt": "datetime",
    "responseMsg": {},
    "requisitionIdentifier": "string",
    "webhook_endpoint_id": 1
  }, {
    "id": 112,
    "status": "pending",
    "eventType": "report_signed",
    "lastSentAt": null,
    "responseMsg": null,
    "requisitionIdentifier": "string",
    "webhook_endpoint_id": 1
  }],
  "meta": {
    "currentPage": 1,
    "perPage": 1000,
    "totalEntries": 2
  }
}
```
```ruby
require "uri"
require "net/http"

url = URI("https://lab-services.ovatio.io/api/v3/organizations/{organization_id}/webhook_endpoint_events?eventStatus=sent&projectTemplateIds=1,2")

http = Net::HTTP.new(url.host, url.port);
request = Net::HTTP::Get.new(url)
request["Authorization"] = "Bearer {token}"

response = http.request(request)
puts response.read_body
```

**Parameters**

| Name | Located in | Description | Required | Type |
| ---- | ---------- | ----------- | -------- | ---- |
| organization_id | path | Organization ID | Yes | integer |
| projectTemplateIds | query | Project Template Ids | No | comma separated integers |
| webhookEndpointIds | query | Webhook Endpoint Ids | No | comma separated integers |
| eventType | query | Type of event. | No | string |
| eventStatus | query | Status of event. <br><ul><li>sent</li><li>send-failed</li><li>pending</li></ul> | No | string |
| startDate | query | Beginning date to query data. | No | string |
| endDate | query | End date to query data. | No | string |
| perPage | query | Results per page. Max 1000 | No | integer |
| page | query | Page of results. | No | integer |

**Responses**

| Code | Description |
| ---- | ----------- |
| 200 | Webhook Endpoint Events |
| 422 | "param" not found |

## Retry Webhook Endpoint Events

**Summary:** Retry webhook endpoint events

### HTTP Request 
`POST /v3/organizations/{organization_id}/webhook_endpoint_events/retry_events`

```ruby
require "uri"
require "json"
require "net/http"

url = URI("https://lab-services.ovatio.io/api/v3/organizations/659/webhook_endpoint_events/retry_events")

http = Net::HTTP.new(url.host, url.port);
request = Net::HTTP::Post.new(url)
request["Authorization"] = "Bearer {token}"
request["Content-Type"] = "application/json"
request.body = JSON.dump({
  "webhookEndpointEventIds": [1,2]
})

response = http.request(request)
puts response.read_body
```

**Parameters**

| Name | Located in | Description | Required | Type |
| ---- | ---------- | ----------- | -------- | ---- |
| webhookEndpointEventIds | body | IDs of events to resend | Yes | array |

**Responses**

| Code | Description |
| ---- | ----------- |
| 200 | All webhook endpoint events successfully submitted. |
| 422 | Error while trying to requeue Webhook Endpoint Events |