# Webhook Endpoints
## Get Webhook Endpoints

**Summary:** Get Webhook Endpoints

<%= partial "./partial_layouts/block_quotes.html.erb" %>

```json
{
    "webhook_endpoint": [{
        "id": 1,
        "target_url": "http://api.test.com/",
        "event": "report_signed",
        "username": "test",
        "project_requisition_template_association_id": 1
    },{
        "id": 2,
        "target_url": "http://api.test.com/",
        "event": "report_corrected",
        "username": "test",
        "project_requisition_template_association_id": 1
    }]
}
```

```ruby
require "uri"
require "json"
require "net/http"

url = URI("https://lab-services.ovatio.io/api/v3/project_templates/{project_template_id}/webhook_endpoints")

http = Net::HTTP.new(url.host, url.port);
request = Net::HTTP::Get.new(url)
request["Content-Type"] = "application/json"
request["Accept"] = "application/json"
request["Authorization"] = "Bearer {token}"

response = http.request(request)
puts response.read_body
```

### HTTP Request
<span class="method get">GET</span>
` /v3/project_templates/{project_template_id}/webhook_endpoints`

**Permissions**

| Name | Access Level | Description |
| ---- | ---------- | ----------- |
| Webhook User | read | For Webhook User permission only webhook endpoints the user has access to within the organization will be returned |
| Webhook Admin | read | For Webhook Admin permission all webhook endpoints within the organization will be returned |

**Parameters**

| Name | Located in | Description | Required | Type |
| ---- | ---------- | ----------- | -------- | ---- |
| `project_template_id` | path | Associated project_template group | Yes | `string` |

**Responses**

| Code | Description |
| ---- | ----------- |
| 200 | Webhook Endpoints |

## Get Webhook Endpoint

**Summary:** Get a Webhook Endpoint

<%= partial "./partial_layouts/block_quotes.html.erb" %>

```json
{
    "webhook_endpoint": {
        "id": 1,
        "target_url": "http://api.test.com/",
        "event": "report_signed",
        "username": "test",
        "project_requisition_template_association_id": 1
    }
}
```

```ruby
require "uri"
require "json"
require "net/http"

url = URI("https://lab-services.ovatio.io/api/v3/project_templates/{project_template_id}/webhook_endpoints/{id}")

http = Net::HTTP.new(url.host, url.port);
request = Net::HTTP::Get.new(url)
request["Content-Type"] = "application/json"
request["Accept"] = "application/json"
request["Authorization"] = "Bearer {token}"

response = http.request(request)
puts response.read_body
```


### HTTP Request
<span class="method get">GET</span>
` /v3/project_templates/{project_template_id}/webhook_endpoints/{id}`

**Permissions**

| Name | Access Level | Description |
| ---- | ---------- | ----------- |
| Webhook User | read | For Webhook User permission only webhook endpoints the user has access to within the organization will be returned |
| Webhook Admin | read | For Webhook Admin permission all webhook endpoints within the organization will be returned |

**Parameters**

| Name | Located in | Description | Required | Type |
| ---- | ---------- | ----------- | -------- | ---- |
| `project_template_id` | path | Associated project_template group | Yes | `string` |
| `id` | path |  | Yes | `integer` |

**Responses**

| Code | Description |
| ---- | ----------- |
| 200 | Webhook Endpoint |

## Post Webhook Endpoint

**Summary:** Create a Webhook Endpoint

<%= partial "./partial_layouts/block_quotes.html.erb" %>

```json
{
    "webhook_endpoint": {
        "id": 1,
        "target_url": "http://api.test.com/",
        "event": "report_signed",
        "username": "test",
        "project_requisition_template_association_id": 1
    }
}
```

```ruby
require "uri"
require "json"
require "net/http"

url = URI("https://lab-services.ovatio.io/api/v3/project_templates/{project_template_id}/webhook_endpoints")
payload = {} # See payload tab

http = Net::HTTP.new(url.host, url.port);
request = Net::HTTP::Post.new(url)
request["Content-Type"] = "application/json"
request["Accept"] = "application/json"
request["Authorization"] = "Bearer {token}"
request.body = JSON.dump(payload)

response = http.request(request)
puts response.read_body
```

```json-doc
{
  "webhookEndpoint": {
    "targetUrl": "https://test.api.com",
    "username": "test",
    "password": "test",
    "event": "report_signed"
  }
}
```

### HTTP Request
<span class="method post">POST</span>
` /v3/project_templates/{project_template_id}/webhook_endpoints`

**Permissions**

| Name | Access Level | Description |
| ---- | ---------- | ----------- |
| Webhook User | write |  |
| Webhook Admin | write |  |

**Parameters**

| Name | Located in | Description | Required | Type |
| ---- | ---------- | ----------- | -------- | ---- |
| `project_template_id` | path | Associated project_template group | Yes | `string` |
| `targetUrl` | body | Host URL to send webhook payload to | yes | `string` |
| `username` | body | Username to connect to host | yes | `string` |
| `password` | body | Password to connect to host | yes | `string` |
| `event` | body | Event which triggers the webhook endpoint.<br>Options:<br><ul><li>report_signed</li><li>report_corrected</li><li>sample_rejected</li><li>requisition_canceled</li><li>requisition_signed_accession</li></ul> | yes | `string` |

**Responses**

| Code | Description |
| ---- | ----------- |
| 201 | Created Webhook Endpoint |

## Put Webhook Endpoint

**Summary:** Update a Webhook Endpoint

<%= partial "./partial_layouts/block_quotes.html.erb" %>

```json
{
    "webhook_endpoint": {
        "id": 1,
        "target_url": "http://api.test.com/",
        "event": "report_signed",
        "username": "test",
        "project_requisition_template_association_id": 1
    }
}
```

```ruby
require "uri"
require "json"
require "net/http"

url = URI("https://lab-services.ovatio.io/api/v3/project_templates/{project_template_id}/webhook_endpoints/{id}")
payload = {} # See payload tab

http = Net::HTTP.new(url.host, url.port);
request = Net::HTTP::Put.new(url)
request["Content-Type"] = "application/json"
request["Accept"] = "application/json"
request["Authorization"] = "Bearer {token}"
request.body = JSON.dump(payload)

response = http.request(request)
puts response.read_body
```

```json-doc
{
    "webhook_endpoint": {
        "id": 2,
        "target_url": "http://api.test.com/",
        "event": "report_signed",
        "username": "test",
        "project_requisition_template_association_id": 1
    }
}
```

### HTTP Request
<span class="method put">PUT</span>
` /v3/project_templates/{project_template_id}/webhook_endpoints/{id}`

**Permissions**

| Name | Access Level | Description |
| ---- | ---------- | ----------- |
| Webhook User | admin | User must be a user of the Webhook Endpoint with admin access on permission |
| Webhook Admin | admin | User must have admin access on permission |

**Parameters**

| Name | Located in | Description | Required | Type |
| ---- | ---------- | ----------- | -------- | ---- |
| `project_template_id` | path | Associated project_template group | Yes | `string` |
| `id` | path |  | Yes | `integer` |
| `targetUrl` | body | Host URL to send webhook payload to | No | `string` |
| `username` | body | Username to connect to host | No | `string` |
| `password` | body | Password to connect to host | No | `string` |
| `event` | body | Event which triggers the webhook endpoint.<br>Options:<br><ul><li>report_signed</li><li>report_corrected</li><li>sample_rejected</li><li>requisition_canceled</li><li>requisition_signed_accession</li></ul> | No | `string` |

**Responses**

| Code | Description |
| ---- | ----------- |
| 200 | Webhook Endpoint |
