
<% language_tabs = current_page.data.language_tabs || [] %>

<blockquote>
  <% if language_tabs.any? %>
    <div class="lang-selector">
      <% language_tabs.each do |lang| %>
        <% if lang.is_a? Hash %>
          <a href="#" data-language-name="<%= lang.keys.first %>"><%= lang.values.first %></a>
        <% else %>
          <a href="#" data-language-name="<%= lang %>"><%= lang %></a>
        <% end %>
      <% end %>
    </div>
  <% end %>
</blockquote>
